<div class="single-products-catagory clearfix">
    <a href="product/@ProductId">
        <img class="product-image" src="@ImageUrl" alt="">
        <!-- Hover Content -->
        <div class="hover-content">
            <div class="line"></div>
            <p>@Price kr.</p>
            <h4>@ProductName</h4>
        </div>
    </a>
</div>

@code {
    [Parameter] public string ImageUrl { get; set; }
    [Parameter] public string ProductName { get; set; }
    [Parameter] public double Price { get; set; }
    [Parameter] public int ProductId { get; set; }
}