@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <SearchWrapper/>
        <div class="main-content-wrapper d-flex clearfix">
            <NavMenu/>
            @Body

        </div>
        
        <Newsletter/>
        
        <FooterElement/>
       
    </div>
</div>
