@page "/orders/"

@using web.Services



<PageTitle>Home</PageTitle>

<head><meta http-equiv="refresh" content="delay_time; URL=new_website_url" /></head>

<div class="container mt-5">
    <div class="card receipt-card p-4">
        <h2 class="orange-text">Purchase Receipt</h2>
        <div class="row">
            <div class="col-md-6">
                <p>Date: <span class="fw-bold">Coming soon</span></p>
            </div>
            <div class="col-md-6 text-md-end">
                <p>Order No.: <span class="fw-bold">012j1gvs356c</span></p>
            </div>
        </div>
        <hr>
        <div class="mb-3">
            <p>BEATS Solo 3 Wireless Headphones <span class="float-end">299.99.-</span></p>
            
        </div>
        <div class="mb-3">
            <p>BEATS Solo 3 Wireless Headphones <span class="float-end">299.99.-</span></p>

        </div>
        <hr>
        <h4 class="text-end">262.99.-</h4>
        <hr>
        <h5 class="orange-text">Status</h5>
        <div class="tracking-status">
            <div class="step">
                <span class="badge bg-primary">Ordered</span>
            </div>
        </div>
     
    </div>
    
</div>




@code {
    

}
