@page "/admin/orders"
@using web.Components.Layout.Admin
@layout AdminNavMenu

<PageTitle>Orders</PageTitle>

<div class="container">
    <div class="row mt-2">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">View orders</h3>
                    <p class="card-text">info about card</p>
                    <a href="/admin/orders/view" class="btn btn-secondary mt-3">Open</a>

                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Add order</h3>
                    <p class="card-text">info about card</p>
                    <a href="/admin/orders/add" class="btn btn-secondary mt-3">Open</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">TBA</h3>
                    <p class="card-text">info about card</p>
                    <a href="/admin/orders" class="btn btn-secondary mt-3">Open</a>
                </div>
            </div>
        </div>
    </div>
</div>