@page "/"
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using sep3.web.Models
@using web.Services
@inject IOrderService OrderService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h1>This is a list of all orders</h1>

@if (orders == null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var order in orders)
    {
        <p>@order.Id</p>
    }
}
@code
{

    private List<Order>? orders;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            orders = await OrderService.GetOrdersAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
        
    }
    
    private async Task CreateOrder()
    {
        
    }
    
}
