@page "/"
@using sep3.web.Model
@using web.Components.Product
@using web.Services
@inject IProductService ProductService

<PageTitle>Home</PageTitle>

<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">
        
        @if (products == null)
        {
            <p>Loading products...</p>
        }
        else if (products.Count == 0)
        {
            <p>No products found</p>
        }
        else
        {
            @foreach (var product in products)
            {
                <ProductOnHome ImageUrl="@product.ImagePath" ProductName="@product.Name" Price="@product.Price" />
            }
        }
    </div>
</div>

@code {
    private List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetProductsAsync();
    }
}