@page "/"
@using Model
@using web.Services
@using web.Components.Product
@inject IProductService ProductService
@inject NavigationManager NavigationManager


<PageTitle>Home</PageTitle>

<head><meta http-equiv="refresh" content="delay_time; URL=new_website_url" /></head>

<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">
        
        @if (products == null)
        {
            <p>Loading products...</p>
        }
        else if (products.Count == 0)
        {
            <p>No products found</p>
        }
        else
        {
            @foreach (var product in products)
            {
                <ProductOnHome ImageUrl="@product.ImagePath" ProductName="@product.Name" Price="@product.Price" ProductId="@product.Id" />
            }
        }
    </div>
</div>

@code {
    private List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        //Redirect to testPanel temporarily
        NavigationManager.NavigateTo("/testPanel");
        
        
        products = await ProductService.GetProductsAsync();
    }

}
