@page "/testPanel"
@using web.Components.Layout.Admin
@layout AdminNavMenu

<PageTitle>Admin</PageTitle>
<div class="container">
    <div class="row mt-2">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Orders</h3>
                    <p class="card-text">info about card</p>
                    <a href="/testPanel/order" class="btn btn-secondary mt-3">Open</a>

                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Products</h3>
                    <p class="card-text">info about card</p>
                    <a href="/testPanel/product" class="btn btn-secondary mt-3">Open</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Customer</h3>
                    <p class="card-text">info about card</p>
                    <a href="/testPanel/customer" class="btn btn-secondary mt-3">Open</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Title</h3>
                    <p class="card-text">info about card</p>
                    <a href="/testPanel" class="btn btn-secondary mt-3">Open</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Title</h3>
                    <p class="card-text">info about card</p>
                    <a href="/testPanel" class="btn btn-secondary mt-3">Open</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Unfulfilled orders</h3>
                    <p class="card-text">info about card</p>
                    <div class="progress mb-2">
                        <div class="progress-bar bg-danger text-dark" role="progressbar" style="width: 35%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">Not started: 53</div>
                    </div>
                    <div class="progress mb-2">
                        <div class="progress-bar bg-warning text-dark" role="progressbar" style="width: 65%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">In progress: 5</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-success text-dark" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">Implemented: 1974</div>
                    </div>
                    <a href="/testPanel" class="btn btn-secondary mt-3">Open</a>
                </div>
            </div>
        </div>
    </div>

</div>
